<template>
    <div>
        <div class="row justify-content-center" v-for="n in niveles">
            <div class="col-md-4" v-for="nivel in n">
                <div class="card shadow-sm mb-5" style="min-height: 250px; min-width: 200px">
                    <div class="card-body">
                        <h5 class="text-center">{{ nivel.nivel1_nombre }}</h5>
                        <div class="p-2">
                            <hr/>
                        </div>
                        <h6 class="text-justify">{{ nivel.nivel1_descripcion }}</h6>
                        <button type="button" v-on:click="getId(nivel)" data-toggle="modal" data-target="#modificarNivel1" class="btn btn-secondary" style="position: absolute; bottom: 10px;">Modificar</button>
                        <button type="button" v-on:click="niveles2(nivel.id)" class="btn btn-primary" style="position: absolute; bottom: 10px; right: 25px">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <nivel1-modal-component></nivel1-modal-component>
    </div>
</template>

<script>
    import EventBus from '../event-bus';
    export default {
        name: "Nivel1Component",
        data(){
            return {
                niveles: []
            }
        },
        created(){
            this.getNiveles();
        },
        methods: {
            getNiveles(){
                var url = "niveles";
                axios.get(url).then(response => {
                    this.niveles = response.data;
                    console.log(this.niveles);
                }).catch(error => {
                    console.log("Error: " + error);
                })
            },
            getId(nivel){
                EventBus.$emit('Nivel1', nivel);
            },
            niveles2(id){
                window.location = "niveles2/" + id;
            }
        }
    }
</script>

<style scoped>

</style>