<template>
    <div class="modal fade" id="modificarNivel1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar entidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  placeholder="Ingrese el nombre de la entidad" :value="nivel.nivel1_nombre">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea type="text" class="form-control" rows="3" id="descripcion"  placeholder="Ingrese la descripción de la entidad" :value="nivel.nivel1_descripcion"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" v-on:click="modificarNivel1" class="btn btn-primary">Guardar modificación</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus';
    export default {
        name: "Nivel1ModalComponent",
        data(){
            return {
                nivel: null
            }
        },
        created(){
            this.getNivel();
        },
        methods: {
            getNivel(){
                EventBus.$on('Nivel1', data => {
                    this.nivel = data;
                })
            },
            modificarNivel1(){

            }
        }
    }
</script>

<style scoped>

</style>